#canvasContainer {
    width: var(--app-width);
    height: var(--app-height);
    overflow: scroll;
    /* scrollbar-width: auto; */
}

:root {
    --app-height: 100vh;
    --app-width: 100%;
}

html, body {
    height: var(--app-height);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#deleteButton {
    position: absolute;
    background-color: #343a40;
    /* padding: 5px; */
    border-radius: 5px;
    display: none;
    margin-left: 0px;
}

/**/
.sidebar {
    background-color: #343a40;
    box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.75);
    color: #fff;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 42px;
    top: calc(var(--app-height) / 2);
    height: auto;
    padding: 5px;
    z-index: 1000;
    border-radius: 5px;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.tools {
    border-radius: 5px;
}

.sidebar ul li {
    padding: 5px 0;
}

.sidebar input {
    width: 48px;
}

.sidebar button {
    width: 48px;
    height: 48px;
}

.sidebar li:nth-last-of-type(4) {
    margin-top: auto;
}

.sidebar button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
}

.sidebar label {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-bottom: 3px;
}

button.accordion-button.collapsed::after, button.accordion-button::after {
    visibility: hidden;
}

* {
    outline: none !important;
    box-shadow: none !important;
}

.canvas-container {
    margin: auto;
}

ul {
    margin: auto;
}

element {
    cursor: default !important;
}

/* Custom scrollbar styling */
/* .deviant-scrollbars > .os-scrollbar-horizontal {
    top: auto;
    right: 0;
    bottom: 10px;
    left: 30px;
    width: calc(var(--app-width) - 60px);
}
.deviant-scrollbars > .os-scrollbar-vertical {
    left: auto;
    bottom: 0;
    right: 10px;
    top: 30px;
    height: calc(var(--app-height) - 60px);
}
.deviant-scrollbars.os-host-scrollbar-horizontal-hidden > .os-scrollbar-vertical {
    top: 0;
}
.deviant-scrollbars.os-host-scrollbar-vertical-hidden > .os-scrollbar-horizontal {
    left: 0;
} */